.banner {
    padding-top: 3.2rem;
    padding-bottom: 4rem;
}

.banner__title {
    margin-bottom: 1.6rem;
}

.banner__description {
    margin-bottom: 3.2rem;
    max-width: 20.6rem;
}

@media (min-width: 768px) {
    .banner {
        padding-top: 5.75rem;
        padding-bottom: 5.5rem;
    }

    .banner__container::before {
        content: "";
        position: absolute;
        top: -6rem;
        left: 5rem;
        width: 25.2rem;
        height: 16rem;
        background-image: url("../img/background-element.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .banner__description {
        max-width: 34.4rem;
    }
}

@media (min-width: 1160px) {
    .banner {
        padding-top: 2.2rem;
        padding-bottom: 8.8rem;
    }

    .banner__container::before {
        top: 0;
        left: -7rem;
        width: 35.6rem;
        height: 21rem;
    }

    .banner__title {
        padding-top: 8.5rem;
        margin-bottom: 3.2rem;
    }

    .banner__description {
        margin-bottom: 6.4rem;
        max-width: 57rem;
    }

    .banner__social {
        gap: 3.7rem;
    }

    .banner__image {
        position: relative;
    }

    .banner__inside-image {
        max-height: 46rem;
        border-radius: 40% 40% 0 0;
    }

    .banner__image:before {
        position: absolute;
        content: '';
        top: 1rem;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        border: 1px solid white;
        border-radius: 40% 40% 0 0;
    }

    .banner__icon:not(:last-child) {
        margin-bottom: 2rem;
    }

    .banner__link {
        width: 4rem;
        height: 4rem;
        border: 1px solid var(--light-gold);
        border-radius: 100%;
        color: var(--light-gold);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .banner__svg {
        width: 70%;
        height: 70%;
    }

    .banner__link:hover {
        border-color: var(--gold);
        color: var(--gold);
    }
}