.close {
  position: absolute;
  top: 16px;
  right: 19px;
}

.close_form {
  right: 15px;
}

@media (min-width: 768px) {
  .close {
    top: 24px;
    right: 45px;
  }

  .close_form {
    top: 20px;
    right: 20px;
  }
}

@media (min-width: 768px) {
  .close {
    top: 26px;
    right: 26px;
  }
}