.guide {
  padding-top: 4rem;
  padding-bottom: 5.1rem;
}

.guide__title {
  margin-bottom: 3.2rem;
}

.guide__title_border {
  position: relative;
}

.guide__title_border::before {
  content: "";
  position: absolute;
  top: -0.8rem;
  left: 0;
  width: 4.2rem;
  border-top: 2px solid var(--light-gold);
}

.guide__item {
  position: relative;
  max-width: 12.5rem;
}

.guide__item:not(:last-child) {
  margin-bottom: 2.4rem;
}

.guide__icon {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 4rem;
  height: 4rem;
}

.guide__subtitle {
  margin-bottom: 0.8rem;
}

@media (min-width: 768px) {
  .guide {
    padding-top: 5.5rem;
    padding-bottom: 6.9rem;
  }

  .guide__title {
    margin-bottom: 6.7rem;
  }

  .guide__title_border::before {
    width: 5.2rem;
  }

  .guide__list {
    gap: 2.4rem 5.1rem;
  }

  .guide__item {
    max-width: 14rem;
  }

  .guide__item:not(:last-child) {
    margin-bottom: 0;
  }

  .guide__icon {
    margin-bottom: 3.2rem;
    width: 5rem;
    height: 5rem;
  }

  .guide__subtitle {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1160px) {
  .guide {
    padding-top: 8.8rem;
    padding-bottom: 2.4rem;
  }

  .guide__title {
    margin-bottom: 6.4rem;
  }

  .guide__title_border::before {
    width: 6.2rem;
  }

  .guide__list {
    gap: 0;
  }

  .guide__item {
    max-width: 17.6rem;
  }

  .guide__icon {
    margin: 0;
    margin-bottom: 5.8rem;
    width: 6rem;
    height: 6rem;
  }

  .guide__item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: -1.5rem;
    right: -5rem;
    width: 14.6rem;
    height: 3.3rem;
    background-image: url("../img/list-element.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .guide__item:nth-child(even)::after {
    top: 45px;
    -webkit-transform: rotate(-168.57deg);
        -ms-transform: rotate(-168.57deg);
            transform: rotate(-168.57deg);
  }

  .guide__subtitle {
    margin-bottom: 2.4rem;
  }
}