.header {
  padding-top: 16px;
  padding-bottom: 32px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: none;
}

.header__button {
  color: var(--gold);
  -webkit-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
}

.header__button:hover {
  color: var(--dark-gold);
}

.header__svg_menu {
  width: 21px;
  height: 11px;
}

.header__svg_phone {
  width: 21px;
  height: 21px;
}

.header__phone {
  display: none;
}

@media (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 57.5px;
  }

  .header__logo {
    padding-left: 156px;
  }

  .header__svg_menu {
    width: 30px;
    height: 16px;
  }

  .header__button {
    display: block;
  }

  .header__button_phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
  }

  .header__svg_phone {
    width: 18px;
    height: 18px;
  }

  .header__phone {
    display: block;
    font-family: 'Garamond';
    font-size: 18px;
    line-height: 20px;
  }
}

@media (min-width: 1720px) {
  .header {
    padding-top: 24px;
    padding-bottom: 22px;
  }

  .header__button_menu {
    display: none;
  }

  .header__logo {
    padding-left: 0;
  }

  .header__button_phone {
    gap: 16px;
  }

  .header__svg_phone {
    width: 20px;
    height: 20px;
  }

  .header__phone {
    font-size: 20px;
    line-height: 22px;
  }
}