.logo {
  height: 50px;
}

.logo_white {
  height: 55px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

@media (min-width: 768px) {
  .logo,
  .logo_white {
    height: 79px;
  }
}