.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: -500px;
  left: 0;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 0;
  z-index: 2;
  background-color: var(--light-gold);
  -webkit-box-shadow: 0px 3px 10px rgba(140, 97, 66, 0.2);
          box-shadow: 0px 3px 10px rgba(140, 97, 66, 0.2);
  color: var(--light-white);
}

.menu__logo {
  margin-bottom: 32px;
}

.menu__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  border: 1px solid var(--light-white);
  border-radius: 100%;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.menu__link:hover {
  border-color: var(--underline-color);
  color: var(--underline-color);
}

.menu__svg {
  max-width: 70%;
  max-height: 70%;
}

@media (min-width: 768px) {
  .menu {
    padding-top: 24px;
  }

  .menu__link {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1720px) {
  .menu {
    position: static;
    display: block;
    padding: 0;
    z-index: 0;
    background-color: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: inherit
  }

  .menu__logo {
    display: none;
  }

  .menu__media {
    display: none;
  }
}