:root {
  --color-text: #161616;
  --underline-color: #D8D8D8;
  --dark: #363636;
  --dark-green: #69766D;
  --light-green: #7D8B81;
  --light-white: #F6F6F5;
  --gold: #B8926B;
  --light-gold: #D8BFA9;
  --dark-gold: #A7794C;
}